<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Lab 1</title>
</head>
<body>
    <form action="/Default/Index" method="POST">
        <p>Input text</p>
        <input type="text" name="line" />
        <button type="submit">Write</button>
    </form>
    <form action="/Default/All" method="GET">
        <button type="submit">Show all lines</button>
    </form>
</body>
</html>