@{
    ViewBag.Title = "Notepad";

    LocalData.LoadNotepads();
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>

    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/Site.css" rel="stylesheet" />

    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/knockout-3.4.0.js"></script>
    <script src="/Scripts/Site.js"></script>
</head>
<body onload="init()">
    <div class="new-notepad">
        <input type="text" id="notepad-name" class="form-control" placeholder="Имя блокнота" data-bind="value: newNotepadName" />
        <button id="btn-create" class="btn btn-success" data-bind="click: createNotepad">Создать</button>
    </div>
    <div class="notepads" data-bind="foreach: notepads">
        <div class="notepad-i" data-bind="text: notepadName, click: $parent.openNotepad" onclick="selectNotepad(this)"></div>
    </div>
    <div class="notepad-content">
        <img data-bind="attr: { src: notepadImage }" />
        <textarea rows="20" data-bind="value: notepadContent" class="form-control"></textarea>
        <button class="btn btn-success" data-bind="click: saveContent">Сохранить</button>
    </div>
</body>
</html>